.App {
  text-align: center;
}

.titulo{
  background-color:cornflowerblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Boton{
  white-space: pre-line;
  margin-top: 15px;
}

.Modal{
  display: flex;
  width: 100%;
  border-radius: 25px;
  top: -20%;
  margin-top: 15%;
  justify-content: center;
}

.form{
  margin-top: 20px;
}

.carta{
  display: flex;
}

.Introduccion{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.carta_model{
  margin-left: 20px;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
